.formWrapper{
    width: 650px;
    height: 100%;  
    
    background: #F2F2F2;

    display: flex;
    justify-content: end;
}

.formContainer{
    width: 395px;
    /* height: 800px; */
    padding: 20px;

    position: fixed;
      
    
    background: #F2B950;
    color: #4A738C;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.window{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.window span{
    width: 50px;
    display: inherit;
    
}

.window span div{
    cursor: pointer;
    padding: 5px;
}


.window span div:first-child{
    margin-right: 10px;
}

.table{
    width: 100%;

    display: flex;    
    flex-direction: column;
}

.table thead > tr,
.table tbody > tr{
    line-height: 40px;

    display: grid;
    grid-template-columns: 1fr 100px 30px;
}

.table thead > tr{
    text-align: justify;
}

.table tbody > tr td:not(:first-child){
    text-align: center;
}

.remove{
    cursor: pointer;
}

.form{
    width: 100%;
    height: 200px;
    padding: 0 20px;

    border-top: 1px solid #4A738C25;
}

.form form{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form form span{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
}
.form form span input{
    height: 30px;
    margin-top: 5px;
}

.form form button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    background: #4A738C;
    border: 1px solid #4A738C;
    border-radius: 5px;
    color: #F2F2F2;
    font-weight: 500;
    line-height: 30px;
}


.Despicable-Me-3-1-hex { color: #4A738C; }
.Despicable-Me-3-2-hex { color: #F2CA50; }
.Despicable-Me-3-3-hex { color: #F2B950; }
.Despicable-Me-3-4-hex { color: #F28F38; }
.Despicable-Me-3-5-hex { color: #F2F2F2; }