.homeWrapper{
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background: #F2F2F2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header{
  z-index: 1;
  width: 100%;
  height: 80px;
  line-height: 35px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 10px 5px 5px #F28F3885;

  color: #4A738C;
}

header h3{
  font-size: 30px; 
}

main{
  width: 100%;
  background: #F2F2F2;

  display: flex;
  justify-content: space-between;
}








